nav {
	padding: 10px;
}
a {
	padding: 10px;
}

.appLauncher {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.btn {
	border-radius: 2px;
	font-weight: bold;
}

.btn a {
	font-weight: bold;
}

.google {
	width: 300px;
	height: 115px;
	margin-top: 175px;
	padding-bottom: 25px;
}

article {
	text-align: center;
}

.search {
width: 25em;
}
