html, body {
	height: 100%;
}

nav {
	padding: 10px;
}
a {
	padding: 5px 10px;
	color: rgba(0,0,4,0.8);
}

a:hover {
	color: rgba(0,0,4,0.8);
}

.gmail {
	padding-left: 0;	
}

.appLauncher {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.btn {
	border-radius: 2px;
	font-weight: bold;
}

.btn a {
	font-weight: bold;
}

.btn-primary {
	padding-left: 15px;
}

.google {
	width: 300px;
	height: 115px;
	margin-top: 175px;
	padding-bottom: 25px;
}

article {
	text-align: center;
}

.search {
	width: 30em;
	height: 34px;
}

.search-button {
	margin: 35px;
}

.btn-success {
	margin: 0 5px 0 5px;
	background-color: rgba(222,222,222,0.42);
	border-color: rgba(222,222,222,0.42);
	color: #555;
}

.btn-success:hover {
	background-color: rgba(222,222,222,0.42);
	border-color: rgba(119,119,119,0.42);
	color: #555;
}

footer {
	height: 60px;
	background-color: rgba(222,222,222,0.42);
	border-top: 1px solid rgba(119,119,119,0.42);
}

#wrap {
	min-height: 100%;
	height: auto;
	margin: 0 auto -60px;
	padding: 0 0 60px;
}

.col-md-offset-9 {
	margin-left: 0;
	float: right;
}
